@model SportsMGMTApp.Models.LoginUser

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <br />
                            <h3 class="headline_description">Password Change</h3>

                            @using (Html.BeginForm("PasswordChange", "User"))
                            {
                                @Html.AntiForgeryToken()
                            
                                    if (ViewBag.Message == "Update Failed")
                                    {
                                        //display red message if exception thrown
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    else if (ViewBag.Message=="Invalid Entry")
                                    {
                                        //display red message if exception thrown
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    else
                                    {

                                    }

                                
                                <!-- Create a Form that gets the Values for a User in the database, and has a submit and clear buttons-->
                                <div class="form-group">
                                    <label for="Login">UserName</label>
                                    @Html.EditorFor(model => model.UserName, new { htmlattributes = new { @class = "form-control", @placeholder = "UserName", } })
                                </div>
                                <div class="form-group">
                                    <label for="Password"> New Password</label>
                                    @Html.EditorFor(model => model.Password, new { htmlattributes = new { @class = "form-control", @placeholder = "Password" } })
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Change Password</button>



                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

